{% extends "base.html" %}
{% block title %}Nhan vien{% endblock %}
{% block content %}
<h1>Danh sach nhan vien</h1>
<p><a class="btn" href="{% url 'employee_create' %}">+ Them nhan vien</a></p>
<table>
<thead><tr><th>Ma HRM</th><th>Ma buu ta</th><th class="text">Ho ten</th><th class="text">Buu cuc</th><th>Loai HD</th><th></th></tr></thead>
<tbody>
{% for e in employees %}
<tr>
  <td>{{ e.hrm_code }}</td>
  <td>{{ e.postman_code }}</td>
  <td class="text">{{ e.full_name }}</td>
  <td class="text">{{ e.post_office }}</td>
  <td>{{ e.get_contract_type_display }}</td>
  <td><a href="{% url 'employee_edit' e.pk %}">Sua</a></td>
</tr>
{% empty %}
<tr><td colspan="6" class="text"><i>Chua co nhan vien nao.</i></td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
