{% extends "base.html" %}
{% block title %}Nhân viên{% endblock %}
{% block page_title %}{% if instance %}Sửa nhân viên{% else %}Thêm nhân viên{% endif %}{% endblock %}
{% block content %}
<div class="card" style="max-width:560px">
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn" type="submit">Lưu</button>
  <a class="btn secondary" href="{% url 'employee_list' %}{% if instance %}?bc={{ instance.post_office.code }}{% endif %}">Hủy</a>
</form>
</div>
{% endblock %}
